---
- name: Create openresty folders
  file:
    dest={{openresty_path}}/{{item}}
    state=directory
  with_items:
    - conf
    - conf/includes
    - conf/lualib
    - ssl
    - logs
    - site
    - auto-ssl
  notify: plan to restart nginx

- name: Create openresty auto-ssl folders
  file:
    dest={{openresty_path}}/auto-ssl/{{item}}
    mode=700
    owner={{openresty_docker_uid}}
    group={{openresty_docker_gid}}
    state=directory
  with_items:
    - storage
    - storage/file

- name: Create nginx config
  template:
    src=nginx.conf.j2
    dest={{openresty_path}}/conf/nginx.conf
  notify: plan to reload nginx

- meta: flush_handlers

# try to soft reload nginx when openresty is running
- name: Reload nginx
  shell: >
    docker inspect {{openresty_docker_name}} \
    && (docker exec {{openresty_docker_name}} nginx -s reload && echo 'yes') \
    || echo 'no'
  register: __openresty_nginx_reload_status
  changed_when: (__openresty_nginx_reload_status.stdout_lines | last) == 'yes'
  when: __openresty_nginx_reload | default(false)

- name: Plan to restart nginx if reload failed
  set_fact:
    __openresty_nginx_restart: true
  changed_when: true
  when: "(__openresty_nginx_reload | default(false)) and not (__openresty_nginx_reload_status | changed)"

- name: Openresty container installed
  docker_container:
    name: "{{openresty_docker_name}}"
    image: "{{openresty_docker_image}}"
    volumes: "{{openresty_docker_volumes}} + {{openresty_docker_volumes_extra}}"
    env:
      LOCAL_USER_ID: "{{openresty_docker_uid|int}}"
      LOCAL_GROUP_ID: "{{openresty_docker_gid|int}}"
      NGX_CONFIG: /mnt/conf
    network_mode: "{{openresty_docker_network_mode}}"
    published_ports: "{{openresty_published_ports}}"
    exposed_ports: "{{openresty_exposed_ports}}"
    restart_policy: always
    restart: "{{ __openresty_nginx_restart | default(false) }}"
    pull: "{{ __openresty_nginx_restart | default(false) }}"
    state: started
