
daemon off;

user  nginx nginx;
worker_processes {{openresty_nginx_worker_processes}};

events {
  worker_connections {{openresty_nginx_worker_connections}};
  use epoll;
}

http {
  include       /usr/local/openresty/nginx/conf/mime.types;
  default_type  application/octet-stream;

  sendfile {{openresty_nginx_sendfile}};

  keepalive_timeout  {{openresty_nginx_keepalive_timeout}};

  lua_package_cpath '/usr/local/lualib/?.so;;';
  lua_package_path '/mnt/conf/lualib/?.lua;;';

  include /mnt/conf/includes/*.conf;

  {% if openresty_default_server %}
  server {
    listen 80 default_server;

    location / {
      root /mnt/site;
    }
  }
  {% endif %}
}
